<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongwei.moddle.sys.dao.AutoSysRoleMenuDAO">
	<!-- 返回值映射map -->
	<resultMap id="sysRoleMenuMapper" type="com.hongwei.moddle.sys.entity.SysRoleMenu">
		<result property="id" column="id" />
		<result property="sysRoleId" column="sys_role_id" />
		<result property="sysMenuId" column="sys_menu_id" />
	</resultMap>

	<!-- 分页查询数据集合-->
	<select id="selectListByPage" resultMap="sysRoleMenuMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
		<if test="pager!=null">
			<include refid="pagination_tail" />
		</if>
	</select>

	<!-- 查询总数量 -->
	<select id="selectCount" resultType="long">
		<include refid="count_Tail"></include>
		<include refid="where_fragement"></include>
	</select>

	<!-- 单条查询 -->
	<select id="selectOne" resultMap="sysRoleMenuMapper" >
		<include refid="selectAllColumns"/>
		<include refid="where_fragement" />
	</select>

	<!-- 单条查询 -->
	<select id="selectById" resultMap="sysRoleMenuMapper" >
		<include refid="selectAllColumns"/>
		WHERE record.id = #{id}
	</select>

	<!-- 新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hongwei.moddle.sys.entity.SysRoleMenu">
		INSERT INTO sys_role_menu(
			sys_role_id,
			sys_menu_id
		) values (
			#{sysRoleId},
			#{sysMenuId}
		)
	</insert>

	<!-- 修改（通过ID只对不为空的内容进行修改 -->
	<update id="updateNotNull" parameterType="com.hongwei.moddle.sys.entity.SysRoleMenu">
		UPDATE sys_role_menu record
		<include refid="update_fragement"/>
		WHERE id = #{id}
	</update>

	<!-- 修改（通过ID更新所有属性值） -->
	<update id="updateParams" parameterType="com.hongwei.moddle.sys.entity.SysRoleMenu">
		UPDATE sys_role_menu record
		<set>
				record.sys_role_id = #{sysRoleId},
				record.sys_menu_id = #{sysMenuId}
		</set>
		WHERE id = #{id}
	</update>

	<!--通过ID删除信息-->
	<delete id="deleteById">
		DELETE FROM sys_role_menu
		WHERE id = #{id}
	</delete>

	<!-- 通过IDS批量删除 -->
	<delete id="deleteByIds">
		DELETE FROM sys_role_menu
		WHERE id IN
		<foreach collection="ids" open="(" separator="," close=")" item="id">
			  #{id}
		</foreach>
	</delete>

	<!-- /////////////////// 公共SQL STR ////////////////// -->

	<!-- 查询数量公共sql -->
	<sql id="count_Tail">
		SELECT count(1) FROM sys_role_menu record
	</sql>

	<!-- 分页公共sql -->
	<sql id="pagination_tail">
		<if test="pager.orderBy != null and pager.orderBy != ''">
			ORDER  BY  ${pager.orderBy}
		</if>
	  	limit #{pager.index} , #{pager.pageSize}
	</sql>
	<!-- 查询字段公共sql -->
	<sql id="selectAllColumns">
		<![CDATA[
			SELECT
				id,
				sys_role_id,
				sys_menu_id
			FROM sys_role_menu record
		]]>
	</sql>

	<sql id="where_fragement">
		WHERE 1=1
		<if test="entity!=null">
				<if test = "entity.id != null">
					<![CDATA[ AND record.id  = #{entity.id} ]]>
				</if>
				<if test = "entity.sysRoleId != null">
					<![CDATA[ AND record.sys_role_id  = #{entity.sysRoleId} ]]>
				</if>
				<if test = "entity.sysMenuId != null">
					<![CDATA[ AND record.sys_menu_id  = #{entity.sysMenuId} ]]>
				</if>
		</if>
	</sql>

	<!--公共修改sql-->
	<sql id="update_fragement">
		<set>
			<if test = "sysRoleId != null ">
				record.sys_role_id = #{sysRoleId},
			</if>
			<if test = "sysMenuId != null ">
				record.sys_menu_id = #{sysMenuId}
			</if>
		</set>
	</sql>
	<!-- /////////////////// 公共SQL END ////////////////// -->
</mapper>
