<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongwei.moddle.sys.dao.AutoSysAreaDAO">
    <!-- 返回值映射map -->
    <resultMap id="sysAreaMapper" type="com.hongwei.moddle.sys.entity.SysArea">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="pid" column="pid" />
        <result property="level" column="level" />
    </resultMap>

    <!-- 分页查询数据集合 -->
    <select id="selectListByPage" resultMap="sysAreaMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
        <if test="pager!=null">
            <include refid="pagination_tail" />
        </if>
    </select>

    <!-- 查询总数量 -->
    <select id="selectCount" resultType="long">
        <include refid="count_Tail"></include>
        <include refid="where_fragement"></include>
    </select>

    <!-- 单条查询 -->
    <select id="selectOne" resultMap="sysAreaMapper" >
        <include refid="selectAllColumns"/>
        <include refid="where_fragement" />
    </select>

    <!-- 单条查询 -->
    <select id="selectById" resultMap="sysAreaMapper" >
        <include refid="selectAllColumns"/>
        WHERE record.id = #{id}
    </select>

    <!-- 新增新增 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hongwei.moddle.sys.entity.SysArea">
        INSERT INTO sys_area(
            name,
            pid,
            level
        ) values (
            #{name},
            #{pid},
            #{level}
        )
    </insert>

    <!-- 修改(通过ID只对不为空的内容进行修改) -->
    <update id="updateNotNull" parameterType="com.hongwei.moddle.sys.entity.SysArea">
        UPDATE sys_area record
        <include refid="update_fragement"/>
        WHERE id = #{id}
    </update>

    <!-- 修改(通过ID更新所有属性值) -->
    <update id="updateParams" parameterType="com.hongwei.moddle.sys.entity.SysArea">
        UPDATE sys_area record
        <set>
            record.name = #{name},
            record.pid = #{pid},
            record.level = #{level}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 通过ID删除信息 -->
    <delete id="deleteById">
        DELETE FROM sys_area
        WHERE id = #{id}
    </delete>

    <!-- 通过IDS批量删除 -->
    <delete id="deleteByIds">
        DELETE FROM sys_area
        WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <!-- /////////////////// PUBLIC SQL STR ////////////////// -->

    <!-- 查询数量公共sql -->
    <sql id="count_Tail">
        SELECT count(1) FROM sys_area record
    </sql>

    <!-- 分页公共sql -->
    <sql id="pagination_tail">
        <if test="pager.orderBy != null and pager.orderBy != ''">
            ORDER  BY  ${pager.orderBy}
        </if>
        limit #{pager.index} , #{pager.pageSize}
    </sql>

    <!-- 查询字段公共sql -->
    <sql id="selectAllColumns">
        <![CDATA[
			SELECT
				id,
				name,
				pid,
				level
			FROM sys_area record
		]]>
</sql>

    <sql id="where_fragement">
        WHERE 1=1
        <if test="entity!=null">
            <if test = "entity.id != null">
                <![CDATA[ AND record.id = #{entity.id} ]]>
            </if>
            <if test = "entity.name != null and entity.name != ''">
                <![CDATA[ AND record.name = #{entity.name} ]]>
            </if>
            <if test = "entity.pid != null">
                <![CDATA[ AND record.pid = #{entity.pid} ]]>
            </if>
            <if test = "entity.level != null">
                <![CDATA[ AND record.level = #{entity.level} ]]>
            </if>
        </if>
    </sql>

    <!-- 公共修改sql-->
    <sql id="update_fragement">
        <set>
            <if test = "name != null and name != ''">
                record.name = #{name},
            </if>
            <if test = "pid != null ">
                record.pid = #{pid},
            </if>
            <if test = "level != null ">
                record.level = #{level}
            </if>
        </set>
    </sql>
    <!-- /////////////////// PUBLIC SQL END ////////////////// -->
</mapper>
