<!DOCTYPE html>
${r"<#import"} "../../macro/common.ftl" as common>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>JeeBoom — ${entity.info}列表</title>
        <link rel="stylesheet" href="${r"${springMacroRequestContext.contextPath}"}/static/layui/css/layui.css" />
        <link rel="stylesheet" href="${r"${springMacroRequestContext.contextPath}"}/static/css/global.css" />
        <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    </head>
    <body class="anim-fadeInUp">
        <div style="margin: 15px;">
            <div class="layui-tab-brief" >
                <ul class="layui-tab-title">
                    <li class="layui-this">${entity.info}列表</li>
                </ul>
            </div>
            <!--
                作者：196410791@qq.com
                时间：2017-03-15
                描述：表单搜索
            -->
            <form id="searchForm" class="layui-form" style="margin-top: 20px;">
                <div class="layui-form-item">
                    <input type ="hidden" name="pageNo" value="${r"${(pager.pageNo)!}"}">
                    <input type ="hidden" name="pageSize" value="15">
                    <div class="layui-inline">
                        <input  type = "text" name="name" value="${r"${(" + entity.classNameLower + r".name)!}"}" placeholder="名称" class="layui-input" />
                    </div>
                    <div class="layui-inline">
                        <button onclick="layui.submitForm()" class="layui-btn">搜索&nbsp;<i class="layui-icon" >&#xe615;</i></button>
                    </div>
                    ${r"<@common.permission per='" + entity.model + r":" + entity.classNameLower + r":edit'>"}
                        <div class="layui-inline">
                            <a href="javascript:layui.add();" class="layui-btn">添加${entity.info}&nbsp;<i class="layui-icon" >&#xe612;</i></a>
                        </div>
                    ${r"</@common.permission>"}
                </div>
            </form>

            <!--
                作者：196410791@qq.com
                时间：2017-03-15
                描述：表格
            -->
            <div style="margin-top: 20px;">
                <table class="layui-table" >
                    <thead>
                        <tr>
                            <#list entity.table.columns as column>
                            <#if column.name != 'id'>
                            <th>${column.label}</th>
                            </#if>
                            </#list>
                            ${r"<@common.permission per='" + entity.model + r":" + entity.classNameLower + r":edit'>"}
                            <th>操作</th>
                            ${r"</@common.permission>"}
                        </tr>
                    </thead>
                    <tbody>
                        ${r"<#list pager.list as entity>"}
                        <tr>
                            <#list entity.table.columns as column>
                                <#if column.name != 'id'>
                            <td><#if column_index == 1>${r"<a href="+"\""+r"javascript:layui.showInfo('${(entity.id)!}')"+"\""+r">"}</#if><#if column.type == 'java.util.Date'>${r"<#if entity." + column.name + r"?? >"}${r"${entity." + column.name + r"?string(" + "\"" + r"yyyy年MM月dd日 HH:mm:ss" + "\"" + r")}"}${r"</#if>"}<#else>${r"${(entity." + column.name + r")!}"}</#if><#if column_index == 1>${r"</a>"}</#if></td>
                                </#if>
                            </#list>
                            ${r"<@common.permission per='" + entity.model + r":" + entity.classNameLower + r":edit'>"}
                            <td>
                                <a href="javascript:layui.edit('${r"${(entity.id)!}"}')" class="layui-btn layui-btn-mini">编辑</a>
                                <a href="javascript:layui.del('${r"${(entity.id)!}"}')" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
                            </td>
                            ${r"</@common.permission>"}
                        </tr>
                        ${r"</#list>"}
                    </tbody>
                </table>
                <div id="pager" class="fr"></div>
            </div>
            </div>
            <script type="text/javascript" src="${r"${springMacroRequestContext.contextPath}"}/static/layui/layui.js"></script>
            <script>
                layui.use(['form','laydate','laypage','layer','upload'],function(){
                    var form = layui.form();
                    var laypage = layui.laypage;
                    var layer = layui.layer;
                    var $ = layui.jquery;
                    laypage({
                        cont: 'pager',
                        pages: '${r"${(pager.pageNum)!1}"}',
                        curr: '${r"${(pager.pageNo)!1}"}',
                        skip: true,
                        jump:function(obj,first){
                            if(!first){
                                $("input[name=pageNo]").val(obj.curr);
                                layui.submitForm();
                            }
                        }
                    });

                    //搜索按钮点击事件
                    layui.submitForm = function(){
                        $("#searchForm").submit();
                    }

                    //查看菜单信息
                    layui.showInfo = function(id){
                        layui.save("查看${entity.info}信息",id);
                    }

                    //编辑
                    layui.edit = function(id){
                        layui.save("修改${entity.info}信息",id)
                    }

                    //添加
                    layui.add = function(){
                        layui.save("添加${entity.info}信息");
                    }

                    //添加or编辑弹窗
                    layui.save = function(title,id){
                        var url ='${r"${springMacroRequestContext.contextPath}"}/${entity.classNameLower}/saveFrom';
                        if(id!=null&&id!='undfined'){
                            url += "?id="+id
                        }
                        layer.open({
                            type: 2,
                            title:title,
                            area: ['800px', '500px'],
                            fixed: false, //不固定
                            maxmin: true,
                            content: url
                        });
                    }

                    //上下架
                    layui.accredit = function(id,status){
                        var title,b;
                        if(status == 1){
                            title = "您是否确定要开启该${entity.info}！";
                            b = ['开启', '取消'];
                        }else{
                            title = "您是否确定要禁用该${entity.info}！";
                            b = ['禁用', '取消'];
                        }
                        layer.msg(title, {
                            btn: b,
                            yes:function(){
                                window.location.href="${r"${springMacroRequestContext.contextPath}"}/${entity.classNameLower}/accredit?id="+id+"&status="+status;
                            }
                        });
                    }

                    //删除
                    layui.del = function(id){
                        layer.msg("您是否确定要删除该${entity.info}！", {
                            btn: ['删除', '不删除'],
                            yes:function(){
                                window.location.href="${r"${springMacroRequestContext.contextPath}"}/${entity.classNameLower}/delById?id="+id;
                            }
                        });
                    }
                });
        </script>
    </body>
</html>